{% comment %}
  Renders a product media gallery. Should be used with 'media-gallery.js'
  Also see 'product-media-modal'

  Accepts:
  - product: {Object} Product liquid object
  - variant_images: {Array} Product images associated with a variant
  - is_duplicate: {Boolean} Prevents rendering uneeded elements and duplicate ids for subsequent instances

  Usage:
  {% render 'product-media-gallery', is_duplicate: true %}
{% endcomment %}

{%- liquid
  if section.settings.hide_variants and variant_images.size == product.media.size
    assign single_media_visible = true
  endif

  assign media_count = product.media.size
  if section.settings.hide_variants and media_count > 1 and variant_images.size > 0
    assign media_count = media_count | minus: variant_images.size | plus: 1
  endif

  if media_count == 1 or single_media_visible
    assign single_media_visible_mobile = true
  endif

  if media_count == 0 or single_media_visible_mobile or section.settings.mobile_thumbnails == 'show' or section.settings.mobile_thumbnails == 'columns' and media_count < 3
    assign hide_mobile_slider = true
  endif

  if section.settings.media_size == 'large'
    assign media_width = 0.65
  elsif section.settings.media_size == 'medium'
    assign media_width = 0.55
  elsif section.settings.media_size == 'small'
    assign media_width = 0.45
  endif

  assign id_append = ''
  if is_duplicate
    assign id_append = '-duplicate'
  endif
-%}

{% if section.settings.gallery_layout == 'slider' %} 

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>


    

  {{ 'component-product-swiper.css' | asset_url | stylesheet_tag }}

  {%- assign total_images = product.media.size -%}

<div class="product__gallery">
  <div class="slider__images">
  
    <div class="swiper gallery-main">
      <div class="swiper-wrapper">
       {%- if product.selected_or_first_available_variant.featured_media != null -%}
          <div class="swiper-slide" data-media-id="{{ section.id }}-{{ product.selected_or_first_available_variant.featured_media.id }}">
            {%- assign featured_media = product.selected_or_first_available_variant.featured_media -%}
            <a href="{{ featured_media | image_url: width: 800 }}" data-fancybox="gallery" data-thumb="{{ featured_media.preview_image | image_url: width: 120 }}">
              <div class="gallery-media">
                <img
                  srcset="{%- if featured_media.preview_image.width >= 800 -%}{{ featured_media.preview_image | image_url: width: 800 }} 800w{%- endif -%}"
                  src="{{ featured_media | image_url: width: 800 }}"
                  alt="{{ featured_media.alt | escape }}"
                  loading="lazy"
                >
              </div>
            </a>
          </div>
        {%- endif -%}

        {%- for media in product.media -%}
          {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
            <div class="swiper-slide" data-media-id="{{ section.id }}-{{ media.id }}">
              <a href="{{ media | image_url: width: 800 }}" data-fancybox="gallery" data-thumb="{{ media.preview_image | image_url: width: 120 }}">
                <div class="gallery-media">
                  <img
                    srcset="{%- if media.preview_image.width >= 800 -%}{{ media.preview_image | image_url: width: 800 }} 800w{%- endif -%}"
                    src="{{ media | image_url: width: 800 }}"
                    alt="{{ media.alt | escape }}"
                    loading="lazy"
                  >
                </div>
              </a>
            </div>
          {%- endunless -%}
        {%- endfor -%}
      </div>

      <!-- Main gallery navigation arrows -->
      {%- if total_images > 1 -%}
        <div class="swiper-button-next gallery-main-next">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="34" viewBox="0 0 18 34" fill="none">
            <path d="M1 1L17 17L1 33" stroke="#7A7A7A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
        <div class="swiper-button-prev gallery-main-prev">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="34" viewBox="0 0 18 34" fill="none">
            <path d="M17 1L0.999999 17L17 33" stroke="#7A7A7A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
      {%- endif -%}
    </div>
  </div>
 {%- if total_images > 1 -%}
  {%- assign thumbs_class = '' -%}
{%- if total_images > 6 -%}
  {%- assign thumbs_class = 'gallery-thumbs--arrowble' -%}
{%- endif -%}
  <div class="slider__col">
    <div class="swiper gallery-thumbs  {{ thumbs_class }}">
      <div class="swiper-wrapper">
        {%- if product.selected_or_first_available_variant.featured_media != null -%}
          <div class="swiper-slide" data-media-id="{{ section.id }}-{{ product.selected_or_first_available_variant.featured_media.id }}">
            {%- assign featured_media = product.selected_or_first_available_variant.featured_media -%}
            <img
            srcset="{{ media.preview_image | image_url }} 120w"
            src="{{ media | image_url }}"
            alt="{{ media.alt | escape }}"
            loading="lazy"
          />
          
          </div>
        {%- endif -%}

        {%- for media in product.media -%}
          {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
            <div class="swiper-slide" data-media-id="{{ section.id }}-{{ media.id }}">
              <img
              srcset="{{ media.preview_image | image_url }} 120w"
              src="{{ media | image_url }}"
              alt="{{ media.alt | escape }}"
              loading="lazy"
            />
            
            </div>
          {%- endunless -%}
        {%- endfor -%}
      </div>
    </div>

    <!-- Thumbnail navigation arrows (only show if more than 5 images) -->
    {%- if total_images > 6 -%}
      <div class="swiper-button-next gallery-thumbs-next">
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="8" viewBox="0 0 14 8" fill="none">
        <path d="M0.772461 1L6.77246 7L12.7725 1" stroke="#121212" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
            </div>
            <div class="swiper-button-prev gallery-thumbs-prev">
       <svg xmlns="http://www.w3.org/2000/svg" width="14" height="8" viewBox="0 0 14 8" fill="none">
        <path d="M0.772461 1L6.77246 7L12.7725 1" stroke="#121212" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      </div>
    {%- endif -%}
  </div>
  {% endif %}
</div>

<script>
  $(document).ready(function() {
    const galleryThumbs = new Swiper('.gallery-thumbs', {
    direction: 'vertical',
    spaceBetween: 10, 
    slidesPerView: 6,
    freeMode: true,
    watchSlidesProgress: true,
    loop: true,
    navigation: {
        nextEl: '.gallery-thumbs-next',
        prevEl: '.gallery-thumbs-prev',
    },
    breakpoints: {
        0: {
            direction: 'horizontal',
            slidesPerView: 4,
        },
         640: {
            direction: 'horizontal',
            slidesPerView: 5,
        },
        768: {
            direction: 'horizontal',
            slidesPerView: 4,
        },
        990: {
            direction: 'vertical',
            slidesPerView: 6,
        }
    }
});

const galleryMain = new Swiper('.gallery-main', {
    spaceBetween: 10,
    loop: true,
    navigation: {
        nextEl: '.gallery-main-next',
        prevEl: '.gallery-main-prev',
    },
    thumbs: {
        swiper: galleryThumbs,
    },
    effect: 'fade',
    fadeEffect: {
        crossFade: true
    }
});

// Auto-scroll thumbs in both directions
galleryMain.on('slideChange', function () {
    let activeIndex = galleryMain.activeIndex;
    let thumbsPerView = galleryThumbs.params.slidesPerView;
    
    // Center the active thumbnail within the visible area
    let scrollToIndex = Math.max(activeIndex - Math.floor(thumbsPerView / 2), 0);
    
    galleryThumbs.slideTo(scrollToIndex);
});

// Enable keyboard navigation
document.addEventListener('keydown', (e) => {
    if (e.key === 'ArrowUp' || e.key === 'ArrowLeft') {
        galleryMain.slidePrev();
    } else if (e.key === 'ArrowDown' || e.key === 'ArrowRight') {
        galleryMain.slideNext();
    }
});

$('[data-fancybox="gallery"]').fancybox({
  buttons: [
    "slideShow",
    "zoom",
    "fullScreen",
    "share",
    "thumbs",
    "close"
  ],
  loop: true,
  protect: true,
  animationEffect: "zoom",  
  thumbs: {
    autoStart: false,
  }
});

  })
</script>

{% else %}

<media-gallery 
  id="MediaGallery-{{ section.id }}{{ id_append }}"
  role="region"
  {% if section.settings.enable_sticky_info %}
    class="product__column-sticky"
  {% endif %}
  aria-label="{{ 'products.product.media.gallery_viewer' | t }}"
  data-desktop-layout="{{ section.settings.gallery_layout }}"
  >
  <div id="GalleryStatus-{{ section.id }}" class="visually-hidden" role="status"></div>
  <slider-component id="GalleryViewer-{{ section.id }}{{ id_append }}" class="slider-mobile-gutter">
    {%- unless is_duplicate -%}
      <a class="skip-to-content-link button visually-hidden quick-add-hidden" href="#ProductInfo-{{ section.id }}">
        {{ 'accessibility.skip_to_product_info' | t }}
      </a>
    {%- endunless -%}
    {% if section.settings.gallery_layout == 'slider' %}
      <div class="swiper gallery_slider">
    {% endif %}
      <ul
        id="Slider-Gallery-{{ section.id }}{{ id_append }}"
        class="{% if section.settings.gallery_layout == 'slider' %}swiper-wrapper product__media-list contains-media{% else %}product__media-list contains-media grid grid--peek list-unstyled slider slider--mobile{% endif %}"
        role="list"
        >
        {%- if product.selected_or_first_available_variant.featured_media != null -%}
          {%- assign featured_media = product.selected_or_first_available_variant.featured_media -%}
          <li
            id="Slide-{{ section.id }}-{{ featured_media.id }}{{ id_append }}"
            class="{% if section.settings.gallery_layout == 'slider' %}swiper-slide {% endif %}product__media-item grid__item slider__slide is-active{% if single_media_visible %} product__media-item--single{% endif %}{% if featured_media.media_type != 'image' %} product__media-item--full{% endif %}{% if section.settings.hide_variants and variant_images contains featured_media.src %} product__media-item--variant{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
            data-media-id="{{ section.id }}-{{ featured_media.id }}"
          >
            {%- assign media_position = 1 -%}
            {% render 'product-thumbnail',
              media: featured_media,
              media_count: media_count,
              position: media_position,
              desktop_layout: section.settings.gallery_layout,
              mobile_layout: section.settings.mobile_thumbnails,
              loop: section.settings.enable_video_looping,
              modal_id: section.id,
              xr_button: true,
              media_width: media_width,
              media_fit: section.settings.media_fit,
              constrain_to_viewport: section.settings.constrain_to_viewport,
              lazy_load: false
            %}
          </li>
        {%- endif -%}
        {%- for media in product.media -%}
          {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
            <li
              id="Slide-{{ section.id }}-{{ media.id }}{{ id_append }}"
              class="{% if section.settings.gallery_layout == 'slider' %}swiper-slide {% endif %}product__media-item grid__item slider__slide{% if single_media_visible %} product__media-item--single{% endif %}{% if product.selected_or_first_available_variant.featured_media == null and forloop.index == 1 %} is-active{% endif %}{% if media.media_type != 'image' %} product__media-item--full{% endif %}{% if section.settings.hide_variants and variant_images contains media.src %} product__media-item--variant{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
              data-media-id="{{ section.id }}-{{ media.id }}"
            >
              {%- liquid
                assign media_position = media_position | default: 0 | plus: 1
                assign lazy_load = false
                if media_position > 1
                  assign lazy_load = true
                endif
              -%}
              {% render 'product-thumbnail',
                media: media,
                media_count: media_count,
                position: media_position,
                desktop_layout: section.settings.gallery_layout,
                mobile_layout: section.settings.mobile_thumbnails,
                loop: section.settings.enable_video_looping,
                modal_id: section.id,
                xr_button: true,
                media_width: media_width,
                media_fit: section.settings.media_fit,
                constrain_to_viewport: section.settings.constrain_to_viewport,
                lazy_load: lazy_load
              %}
            </li>
          {%- endunless -%}
        {%- endfor -%}
      </ul>
    {% if section.settings.gallery_layout == 'slider' %}
      </div>
    {% endif %}
    {% comment %} {%- unless is_duplicate -%}
      <div class="slider-buttons no-js-hidden quick-add-hidden{% if hide_mobile_slider %} small-hide{% endif %}">
        <button
          type="button"
          class="slider-button slider-button--prev"
          name="previous"
          aria-label="{{ 'general.slider.previous_slide' | t }}"
        >
          {% render 'icon-caret' %}
        </button>
        <div class="slider-counter caption">
          <span class="slider-counter--current">1</span>
          <span aria-hidden="true"> / </span>
          <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
          <span class="slider-counter--total">{{ media_count }}</span>
        </div>
        <button
          type="button"
          class="slider-button slider-button--next"
          name="next"
          aria-label="{{ 'general.slider.next_slide' | t }}"
        >
          {% render 'icon-caret' %}
        </button>
      </div>
    {%- endunless -%} {% endcomment %}
  </slider-component>

  {% if section.settings.gallery_layout == 'slider' %}
    <div class="slider__navigation">
      <div class="swiper-button-next gallery-slider-next {{ section.id }}">{%  render 'next-wt-ic' %}</div>
      <div class="swiper-button-prev gallery-slider-prev {{ section.id }}">{%  render 'prev-wt-ic' %}</div>
    </div>
  {% endif %}

  {%- if first_3d_model -%}
    <button
      class="button button--full-width product__xr-button"
      type="button"
      aria-label="{{ 'products.product.xr_button_label' | t }}"
      data-shopify-xr
      data-shopify-model3d-id="{{ first_3d_model.id }}"
      data-shopify-title="{{ product.title | escape }}"
      data-shopify-xr-hidden
    >
      {% render 'icon-3d-model' %}
      {{ 'products.product.xr_button' | t }}
    </button>
  {%- endif -%}
  {%- if media_count > 1
    and section.settings.gallery_layout contains 'thumbnail'
    or section.settings.mobile_thumbnails == 'show'
  -%}
    <slider-component
      id="GalleryThumbnails-{{ section.id }}{{ id_append }}"
      class="thumbnail-slider slider-mobile-gutter quick-add-hidden{% unless section.settings.gallery_layout contains 'thumbnail' %} medium-hide large-up-hide{% endunless %}{% if section.settings.mobile_thumbnails != 'show' %} small-hide{% endif %}{% if media_count <= 3 %} thumbnail-slider--no-slide{% endif %}"
      >
      <button
        type="button"
        class="slider-button slider-button--prev{% if media_count <= 3 %} small-hide{% endif %}{% if media_count <= 4 %} medium-hide large-up-hide{% endif %}"
        name="previous"
        aria-label="{{ 'general.slider.previous_slide' | t }}"
        aria-controls="GalleryThumbnails-{{ section.id }}"
        data-step="3"
      >
        {% render 'icon-caret' %}
      </button>
      <ul
        id="Slider-Thumbnails-{{ section.id }}{{ id_append }}"
        class="thumbnail-list list-unstyled slider slider--mobile{% if section.settings.gallery_layout == 'thumbnail_slider' %} slider--tablet-up{% endif %}"
      >
        {%- capture sizes -%}
          (min-width: {{ settings.page_width }}px) calc(({{ settings.page_width | minus: 100 | times: media_width | round }} - 4rem) / 4),
          (min-width: 990px) calc(({{ media_width | times: 100 }}vw - 4rem) / 4),
          (min-width: 750px) calc((100vw - 15rem) / 8),
          calc((100vw - 8rem) / 3)
        {%- endcapture -%}

        {%- if featured_media != null -%}
          {%- liquid
            capture media_index
              if featured_media.media_type == 'model'
                increment model_index
              elsif featured_media.media_type == 'video' or featured_media.media_type == 'external_video'
                increment video_index
              elsif featured_media.media_type == 'image'
                increment image_index
              endif
            endcapture
            assign media_index = media_index | plus: 1
          -%}
          <li
            id="Slide-Thumbnails-{{ section.id }}-0{{ id_append }}"
            class="thumbnail-list__item slider__slide{% if section.settings.hide_variants and variant_images contains featured_media.src %} thumbnail-list_item--variant{% endif %}"
            data-target="{{ section.id }}-{{ featured_media.id }}"
            data-media-position="{{ media_index }}"
          >
            {%- capture thumbnail_id -%}
              Thumbnail-{{ section.id }}-0{{ id_append }}
            {%- endcapture -%}
            <button
              class="thumbnail global-media-settings global-media-settings--no-shadow"
              aria-label="{%- if featured_media.media_type == 'image' -%}{{ 'products.product.media.load_image' | t: index: media_index }}{%- elsif featured_media.media_type == 'model' -%}{{ 'products.product.media.load_model' | t: index: media_index }}{%- elsif featured_media.media_type == 'video' or featured_media.media_type == 'external_video' -%}{{ 'products.product.media.load_video' | t: index: media_index }}{%- endif -%}"
              aria-current="true"
              aria-controls="GalleryViewer-{{ section.id }}{{ id_append }}"
              aria-describedby="{{ thumbnail_id }}"
            >
              {{
                featured_media.preview_image
                | image_url: width: 416
                | image_tag:
                  loading: 'lazy',
                  sizes: sizes,
                  widths: '54, 74, 104, 162, 208, 324, 416',
                  id: thumbnail_id,
                  alt: featured_media.alt
                | escape
              }}
            </button>
          </li>
        {%- endif -%}
        {%- for media in product.media -%}
          {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
            {%- liquid
              capture media_index
                if media.media_type == 'model'
                  increment model_index
                elsif media.media_type == 'video' or media.media_type == 'external_video'
                  increment video_index
                elsif media.media_type == 'image'
                  increment image_index
                endif
              endcapture
              assign media_index = media_index | plus: 1
            -%}
            <li
              id="Slide-Thumbnails-{{ section.id }}-{{ forloop.index }}{{ id_append }}"
              class="thumbnail-list__item slider__slide{% if section.settings.hide_variants and variant_images contains media.src %} thumbnail-list_item--variant{% endif %}"
              data-target="{{ section.id }}-{{ media.id }}"
              data-media-position="{{ media_index }}"
            >
              {%- if media.media_type == 'model' -%}
                <span class="thumbnail__badge" aria-hidden="true">
                  {%- render 'icon-3d-model' -%}
                </span>
              {%- elsif media.media_type == 'video' or media.media_type == 'external_video' -%}
                <span class="thumbnail__badge" aria-hidden="true">
                  {%- render 'icon-play' -%}
                </span>
              {%- endif -%}
              {%- capture thumbnail_id -%}
                Thumbnail-{{ section.id }}-{{ forloop.index }}{{ id_append }}
              {%- endcapture -%}
              <button
                class="thumbnail global-media-settings global-media-settings--no-shadow"
                aria-label="{%- if media.media_type == 'image' -%}{{ 'products.product.media.load_image' | t: index: media_index }}{%- elsif media.media_type == 'model' -%}{{ 'products.product.media.load_model' | t: index: media_index }}{%- elsif media.media_type == 'video' or media.media_type == 'external_video' -%}{{ 'products.product.media.load_video' | t: index: media_index }}{%- endif -%}"
                {% if media == product.selected_or_first_available_variant.featured_media
                  or product.selected_or_first_available_variant.featured_media == null
                  and forloop.index == 1
                %}
                  aria-current="true"
                {% endif %}
                aria-controls="GalleryViewer-{{ section.id }}{{ id_append }}"
                aria-describedby="{{ thumbnail_id }}"
              >
                {{
                  media.preview_image
                  | image_url: width: 416
                  | image_tag:
                    loading: 'lazy',
                    sizes: sizes,
                    widths: '54, 74, 104, 162, 208, 324, 416',
                    id: thumbnail_id,
                    alt: media.alt
                  | escape
                }}
              </button>
            </li>
          {%- endunless -%}
        {%- endfor -%}
      </ul>
      <button
        type="button"
        class="slider-button slider-button--next{% if media_count <= 3 %} small-hide{% endif %}{% if media_count <= 4 %} medium-hide large-up-hide{% endif %}"
        name="next"
        aria-label="{{ 'general.slider.next_slide' | t }}"
        aria-controls="GalleryThumbnails-{{ section.id }}"
        data-step="3"
      >
        {% render 'icon-caret' %}
      </button>
    </slider-component>
  {%- endif -%}
</media-gallery>

{% endif %}


<script>
  new Drift(document.querySelector('.gallery-media img'), {
  paneContainer: document.querySelector('.product__info-wrapper '),
  inlinePane: 769,
  inlineOffsetY: -85,
  containInline: true,
  hoverBoundingBox: true
});
</script>
