<section class="e-catalog-section">
     <div class="container">
      {% if section.index == 1 %}
{% if section.settings.section_title %}
    <h1 class="e-catalog-title">{{ section.settings.section_title }}</h1>
  {% endif %}{% else %}
{% if section.settings.section_title %}
    <h2  class="e-catalog-title h2">{{ section.settings.section_title }}</h2>
  {% endif %}{% endif %}

  

  <div class="catalog-grid">
    {% for block in section.blocks %}
        <div class="catalog-col">
      <a 
        href="{{ block.settings.link }}" 
        class="catalog-card" 
        target="_blank"
          style="background-color: {{ block.settings.bg_color }}"
        {{ block.shopify_attributes }}
      >
        {% if block.settings.image %}
          <img src="{{ block.settings.image | img_url: '299x387' }}" alt="{{ block.settings.title }}">
        {% endif %}
        {% if block.settings.title %}
          <div class="catalog-title" style="color: {{ block.settings.title_color }}"><span>{{ block.settings.title }}</span></div>
        {% endif %}
      </a>
      </div>
    {% endfor %}
  </div>
  </div>
</section>
<style>.e-catalog-section {
    padding: 60px 0;
    text-align: center;
}

.e-catalog-section .container {
    max-width: 1420px;
    margin: 0 auto;
    padding: 0 50px;
}

.e-catalog-section .e-catalog-title,
.e-catalog-section .e-catalog-title.h2 {
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 45px;
    line-height: 1.3;
    text-transform: uppercase;
    margin: 0 0 25px;
    font-size: calc(var(--font-heading-scale) * 5.2rem);
}

.catalog-title span {
    position: relative;
    z-index: 1;
}

.catalog-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    row-gap: 30px;
    justify-content: center;
}

.catalog-grid .catalog-col {
    width: 50%;
    padding: 0 15px;
    height: 100%;
}

.catalog-card {
    display: block;
    text-decoration: none;
    padding: 30px 0;
    height: 100%;
    border-radius: 15px;
    position: relative;
}

.catalog-card:after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 6px;
    padding: 3px;
   background: linear-gradient(16deg, #42c5ef 0%, #0033a0 100%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.catalog-card:hover img {
    transform: scale(1.03);
}

/* .catalog-title:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: 0;
    background: var(--gradient-01, linear-gradient(102deg, #42c5ef 0%, #0033a0 100%));
    background-size: 200% 100%;
    transition: width .5s 
ease-in-out;
}

.catalog-card:hover {}

.catalog-card:hover  .catalog-title:after {
    width: 100%;
    animation: movingBackground 5s 
linear infinite;
} */

@keyframes movingBackground {
    0% {
        background-position: 0 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0 50%
    }
}

.catalog-card img {
    width: auto;
    height: auto;
    transition: transform 0.3s ease;
    max-width: 100%;
}

.catalog-title {
    font-size: 28px;
    font-weight: 600;
    margin: 0;
    color: #0033a0;
    text-transform: uppercase;
    line-height: 1.3;
        padding: 20px 0;
    /* border-left: 4px solid #131313; */
    position: relative;
    transition: all .4s ease-in-out;
}

/* .catalog-card:hover .catalog-title {
    color: #fff !important;
} */

@media (max-width: 1200px) {
    .e-catalog-section .e-catalog-title {
        font-size: 42px;
    }

    .catalog-title {
        font-size: 22px;
    }

    .e-catalog-section .e-catalog-title.h2 {
        font-size: 32px;
    }
}

@media (max-width: 992px) {
    .e-catalog-section .e-catalog-title {
        font-size: 38px;
        margin-bottom: 30px;
    }

    .e-catalog-section {
        padding: 50px 0;
    }

    .e-catalog-section .e-catalog-title.h2 {
        font-size: 28px;
    }

    .e-catalog-section .container{
        padding: 0 32px;
    }
}

@media (max-width: 768px) {
    .e-catalog-section .e-catalog-title {
        font-size: 32px;
        margin-bottom: 25px;
    }

    .catalog-title {
        font-size: 20px;
    }

    .catalog-card {
        padding: 20px 0;
    }

    .catalog-grid .catalog-col {
        width: 100%;
    }

    .e-catalog-section {
        padding: 40px 0;
    }

    .e-catalog-section .e-catalog-title.h2 {
        font-size: 24px;
    }
}

@media (max-width: 750px) {
    .e-catalog-section .container {
        padding: 0 30px;
    }
}

@media (max-width: 567px) {
    .e-catalog-section .container {
        padding: 0 15px;
    }
}
</style>
{% schema %}
{
  "name": "E-Catalog Display",
  "tag": "section",
  "class": "e-catalog-display",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Section Title",
      "default": "E-CATALOG"
    }
  ],
  "blocks": [
    {
      "type": "catalog_item",
      "name": "Catalog Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Catalog Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Catalog URL"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Catalog Title",
          "default": "Catalog Name"
        },
         {
          "type": "color",
          "id": "title_color",
          "label": "Title Color",
          "default": "#fff"
        },
          {
          "type": "color",
          "id": "bg_color",
          "label": "Background Color",
          "default": "#fff"
        },
      ]
    }
  ],
  "presets": [
    {
      "name": "E-Catalog Display",
      "category": "Content"    
    }
  ]
}
{% endschema %}