<section class="content-block-section" style="background-color: {{ section.settings.background_color }};">
  <div class="container">
    {% if section.index == 1 %}
   {% if section.settings.heading != blank %}
      <h1 class="content-block-title">{{ section.settings.heading }}</h1>
    {% endif %}
{% else %}
  {% if section.settings.heading != blank %}
      <h2 class="content-block-title">{{ section.settings.heading }}</h2>
    {% endif %}
{% endif %}

    <div class="top-button">
      {% if section.settings.button_label != blank %}
        <a href="{{ section.settings.button_link }}" class="btn">
          {{ section.settings.button_label }}
        </a>
      {% endif %}
    </div>
    <div class="block-items">
      {% for block in section.blocks %}
        <div class="block-item">
          {% if block.settings.policy_title != blank %}
            <h2 class="block-title">{{ block.settings.policy_title }}</h2>
          {% endif %}
          <div class="block-content-text">{{ block.settings.policy_content }}</div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<style>
    .content-block-section {
  padding: 60px 20px;
  text-align: center;
}
.content-block-section .container {
          max-width: 1280px;
          margin: 0 auto;
      }
      .content-block-title{
     font-size: 44px;
  font-weight: bold;
  margin-bottom: 40px;
    }
.content-block-section p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.6;
}
.block-items{text-align: left;}
</style>

{% schema %}
{
  "name": "Content Section",
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label",
      "default": "RETURN ORDER FORM"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Main Heading",
      "default": "RETURN POLICY"
    }
  ],
  "blocks": [
    {
      "type": "policy_item",
      "name": "Policy Item",
      "settings": [
        {
          "type": "text",
          "id": "policy_title",
          "label": "Title",
          "default": "POWER DENTAL PRODUCTS:"
        },
        {
          "type": "richtext",
          "id": "policy_content",
          "label": "Content",
          "default": "<p>Only instrument(s) that are unused, left unsterilized in their original Power Dental packaging...</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Content Section"
    }
  ]
}
{% endschema %}
