<section class="faq-section">
  <div class="container">
    {% if section.settings.faq_section_title != blank %}
      <h2 class="faq-title">{{ section.settings.faq_section_title }}</h2>
    {% endif %}
    {% for block in section.blocks %}
      <div class="faq-item">
        {% if block.settings.faq_question != blank %}
          <h3 class="faq-qustion">{{ block.settings.faq_question }}</h3>
        {% endif %}
        <div class="faq-panel-body">
          {% if block.settings.faq_logo %}
            <div class="faq-logo">
              <img
                class="faq-logo"
                src="{{ block.settings.faq_logo | img_url: 'medium' }}"
                alt="{{ block.settings.faq_title }}"
              >
            </div>
          {% endif %}

          <div class="faq-info faq-content">
            <p>
              <strong>{{ block.settings.faq_title }}</strong>
            </p>
            <p>{{ block.settings.faq_subtitle }}</p>
            <p>{{ block.settings.faq_address }}</p>

            {% if block.settings.faq_website %}
              <a href="{{ block.settings.faq_website }}" target="_blank">Website: {{ block.settings.faq_website }}</a>
            {% endif %}
          </div>
          {% if block.settings.faq_link %}
            <div class="faq-map">
                <iframe src="{{ block.settings.faq_link }}" width="600" height="400"></iframe>
            </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</section>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const faqHeaders = document.querySelectorAll('.faq-item h3');

    faqHeaders.forEach((header) => {
      header.addEventListener('click', function () {
        const currentAnswer = header.nextElementSibling;

        if (currentAnswer.style.maxHeight) {
          currentAnswer.style.maxHeight = null;
        } else {
          const allAnswers = document.querySelectorAll('.faq-item .faq-panel-body');
          allAnswers.forEach((answer) => {
            answer.style.maxHeight = null;
          });

          currentAnswer.style.maxHeight = currentAnswer.scrollHeight + 'px';
        }
      });
    });
  });
</script>

{% stylesheet %}
  .faq-panel-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
  }

     .faq-section {
        padding: 0 20px 40px;
    }
    .faq-section .container {
        max-width: 1280px;
        margin: 0 auto;
    }
    .faq-title{
  font-size: clamp(2.4rem, 0.5496rem + 3.6879vw, 5.6rem);
    font-weight: 700;
    margin:60px 0 40px;
    text-align: center;
    text-transform: uppercase;}
    .faq-panel-body {
        display: flex;
        row-gap: 30px;
        margin: 0 -10px;
        flex-wrap: wrap;
    }
    .faq-panel-body >div {
        width: 33.33%;
        padding: 0 10px;
    }
    .faq-item {
      margin-bottom: 20px;
    }
  .faq-qustion{
      font-family: Prompt;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    background: linear-gradient(102deg,#42c5ef,#0033a0,#42c5ef,#0033a0);
      background-size: auto;
      background-clip: border-box;
    background-size: 200% 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: color .2s ease-in-out;
  }
  .faq-qustion:hover {
  	animation: rainbow 1.25s ease-in-out infinite;
  }
  @keyframes rainbow {
    0% {
      background-position:left
    }
    50% {
      background-position:right
    }
    100% {
      background-position:left
    }
  }
   .faq-logo img {
      max-width: 100%;
      width: auto;
      max-height: 150px;
      height: auto;
  }

    .faq-info {
      margin-top: 10px;
    }

    .faq-info a {
      color: #0074cc;
      text-decoration: none;
    }

    .faq-info a:hover {
      text-decoration: underline;
    }
{% endstylesheet %}

{% schema %}
{
  "name": "Shows FAQ Section",
  "settings": [
    {
      "type": "header",
      "content": "Trade Shows"
    },
    {
      "type": "richtext",
      "label": "FAQ Section Title",
      "id": "faq_section_title",
      "default": "<p>Frequently Asked Questions</p>"
    }
  ],
  "blocks": [
    {
      "type": "faq_block",
      "name": "FAQ Block",
      "settings": [
        {
          "type": "text",
          "label": "FAQ Question",
          "id": "faq_question",
          "default": "What is the AAP Annual Meeting?"
        },
        {
          "type": "image_picker",
          "label": "Logo for FAQ Block",
          "id": "faq_logo"
        },
        {
          "type": "text",
          "label": "Title for FAQ Block",
          "id": "faq_title",
          "default": "AAP Annual Meeting"
        },
        {
          "type": "text",
          "label": "Subtitle for FAQ Block",
          "id": "faq_subtitle",
          "default": "Toronto, ON | 10/15/25 - 10/18/25"
        },
        {
          "type": "richtext",
          "label": "Address for FAQ Block",
          "id": "faq_address",
          "default": "<p>Metro Toronto Convention Centre, 255 Front St. W, Toronto, ON, Canada</p>"
        },
        {
          "type": "url",
          "label": "Website for FAQ Block",
          "id": "faq_website"
        },
        {
          "type": "url",
          "label": "Map Url",
          "id": "faq_link",
          "info": "Add YouTube Embed Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Shows FAQ Section",
      "category": "Content",
      "settings": {
        "faq_section_title": "<p>Frequently Asked Questions</p>"
      },
      "blocks": [
        {
          "type": "faq_block",
          "settings": {
            "faq_question": "What is the AAP Annual Meeting?",
            "faq_logo": "",
            "faq_title": "AAP Annual Meeting",
            "faq_subtitle": "Toronto, ON | 10/15/25 - 10/18/25",
            "faq_address": "<p>Metro Toronto Convention Centre, 255 Front St. W, Toronto, ON, Canada</p>",
            "faq_website": "https://www.am2025.perio.org",
            "faq_link": "https://www.am2025.perio.org"
          }
        }
      ]
    }
  ]
}
{% endschema %}
