<section class="event-section">
  <div class="container">
    {% if section.settings.section_title != blank %}
      <h2 class="event-sec-title">{{ section.settings.section_title }}</h2>
    {% endif %}
    <div class="events-row">
      {% for block in section.blocks %}
        {% if block.type == 'product_title' and block.settings.subtitle_title != blank %}
          <h3 class="events-subtitle">{{ block.settings.subtitle_title }}</h3>
        {% endif %}
      {% endfor %}

      <div class="events-list">
      {% for block in section.blocks %}
          {% if block.settings.event_title != blank
            or block.settings.event_subtitle != blank
            or block.settings.event_image != blank
            or block.settings.event_date != blank
            or block.settings.event_location != blank
          %}
          <div class="events-box">
            <div class="event-item">
              {% if block.settings.event_image != blank %}
                <img
                  src="{{ block.settings.event_image | img_url: 'medium' }}"
                  alt="{{ block.settings.event_title }}"
                  class="event-image"
                >
              {% endif %}
              <div class="event-details">
                {% if block.settings.event_title != blank %}
                  <h3 class="event-title">{{ block.settings.event_title }}</h3>
                {% endif %}
                {% if block.settings.event_subtitle != blank %}
                  <p class="event-subtitle">{{ block.settings.event_subtitle }}</p>
                {% endif %}
                <div class="event-logo-with-info">
                  <div class="event-logo">
                    {% if block.settings.event_logo != blank %}
                      <img
                        src="{{ block.settings.event_logo | img_url: '70' }}"
                        alt="{{ block.settings.event_logo }}"
                        class="event-logo"
                      >
                    {% endif %}
                  </div>
                  <div class="event-info">
                    {% if block.settings.event_date != blank %}
                      <p class="event-date"><span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M128 0c17.7 0 32 14.3 32 32l0 32 128 0 0-32c0-17.7 14.3-32 32-32s32 14.3 32 32l0 32 48 0c26.5 0 48 21.5 48 48l0 48L0 160l0-48C0 85.5 21.5 64 48 64l48 0 0-32c0-17.7 14.3-32 32-32zM0 192l448 0 0 272c0 26.5-21.5 48-48 48L48 512c-26.5 0-48-21.5-48-48L0 192zm64 80l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm128 0l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0zM64 400l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0zm112 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16z"/></svg></span>{{ block.settings.event_date }}</p>
                    {% endif %}
                    {% if block.settings.event_location != blank %}
                      <p class="event-location"><span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/></svg></span>{{ block.settings.event_location }}</p>
                    {% endif %}
                    {% if block.settings.event_credits != blank %}
                      <p class="event-credits"><span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M64 32C28.7 32 0 60.7 0 96L0 416c0 35.3 28.7 64 64 64l224 0 0-112c0-26.5 21.5-48 48-48l112 0 0-224c0-35.3-28.7-64-64-64L64 32zM448 352l-45.3 0L336 352c-8.8 0-16 7.2-16 16l0 66.7 0 45.3 32-32 64-64 32-32z"/></svg></span>{{ block.settings.event_credits }}</p>
                    {% endif %}
                  </div>
                </div>
                {% if block.settings.button_label != blank and block.settings.button_link != blank %}
                  <a href="{{ block.settings.button_link }}" class="btn-register">{{ block.settings.button_label }}</a>
                {% endif %}
              </div>
            </div>
        </div>
          {% endif %}
        {% endfor %}
    </div>
    </div>
  </div>
</section>

<style>
   .event-section {
      padding: 0 20px 40px;
  }
  .event-section .container {
      max-width: 1280px;
      margin: 0 auto;
  }
  .event-sec-title{
font-size: clamp(2.4rem, 0.5496rem + 3.6879vw, 5.6rem);
  font-weight: 700;
  margin:60px 0 40px;
  text-align: center;
  text-transform: uppercase;}
  .events-list {
      display: flex;
      row-gap: 40px;
      margin: 0 -10px;
      flex-wrap: wrap;
  }
  .events-list .events-box {
      width: 25%;
      padding: 0 10px;
  }
  .event-title {
    font-size: 18px;
    line-height: 20px;
    color: #0033a0;
    margin: 0;
    text-transform: uppercase;
}
.event-subtitle {
    line-height: 20px;
    margin: 0;
    font-size: 16px;
    text-transform: uppercase;
}
 .event-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    width: 90%;
    margin: 0 auto;
    object-fit: cover;
}
.event-logo-with-info {
    display: flex;gap:10px;
    margin: 20px 0;
    font-family: 'Montserrat';
}
.event-info p span svg{width:14px; height:14px; fill: #0033a0;}
.event-info p{display: flex; gap:5px;}
.event-info p {
    margin: 0;
    line-height: 20px;
    color: #5b5b5b;
}
  .event-details {
    margin-top: 20px;
  }
  .btn-register {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  .btn-register:hover {
    background-color: #0056b3;
  }
</style>

{% schema %}
{
  "name": "Event",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Section Title"
    }
  ],
  "blocks": [
    {
      "type": "product_title",
      "name": "Subtitle",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "subtitle_title",
          "label": "Subtitle"
        }
      ]
    },
    {
      "type": "event_card",
      "name": "Event Card",
      "settings": [
        {
          "type": "image_picker",
          "id": "event_image",
          "label": "Event Image"
        },
        {
          "type": "text",
          "id": "event_title",
          "label": "Event Title",
          "default": "Pikos Institute"
        },
        {
          "type": "text",
          "id": "event_subtitle",
          "label": "Event SubTitle",
          "default": "Full Arch Symposium"
        },
        {
          "type": "image_picker",
          "id": "event_logo",
          "label": "Event Logo"
        },
        {
          "type": "text",
          "id": "event_date",
          "label": "Event Date",
          "default": "October 1-2"
        },
        {
          "type": "text",
          "id": "event_location",
          "label": "Event Location",
          "default": "Orlando, FL"
        },
        {
          "type": "text",
          "id": "event_credits",
          "label": "Event Credits",
          "default": "24 CE Credits"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button Label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Events",
      "category": "Content"
    }
  ]
}
{% endschema %}
