<section class="event-section">
  <div class="container">
    {% if section.settings.section_title != blank %}
      <h2 class="product-training-videos-title">{{ section.settings.section_title }}</h2>
    {% endif %}
    <div class="events-row">
      {% for block in section.blocks %}
        {% if block.settings.event_title != blank or block.settings.event_subtitle != blank or block.settings.event_image != blank or block.settings.event_date != blank or block.settings.event_location != blank %}
          <div class="events-list">
            <div class="event-item">
              {% if block.settings.event_image != blank %}
                <img
                  src="{{ block.settings.event_image | img_url: 'medium' }}"
                  alt="{{ block.settings.event_title }}"
                  class="event-image"
                >
              {% endif %}
              <div class="event-details">
                {% if block.settings.event_title != blank %}
                  <h3 class="event-title">{{ block.settings.event_title }}</h3>
                {% endif %}
                {% if block.settings.event_subtitle != blank %}
                  <p class="event-subtitle">{{ block.settings.event_subtitle }}</p>
                {% endif %}
                <div class="event-logo-with-info">
                  <div class="event-logo">
                    {% if block.settings.event_logo != blank %}
                      <img
                        src="{{ block.settings.event_logo | img_url: '70' }}"
                        alt="{{ block.settings.event_logo }}"
                        class="event-logo"
                      >
                    {% endif %}
                  </div>
                  <div class="event-info">
                    {% if block.settings.event_date != blank %}
                      <p class="event-date"><strong>Date:</strong> {{ block.settings.event_date }}</p>
                    {% endif %}
                    {% if block.settings.event_location != blank %}
                      <p class="event-location"><strong>Location:</strong> {{ block.settings.event_location }}</p>
                    {% endif %}
                    {% if block.settings.event_credits != blank %}
                      <p class="event-credits"><strong>CE Credits:</strong> {{ block.settings.event_credits }}</p>
                    {% endif %}
                  </div>
                </div>
                {% if block.settings.button_label != blank and block.settings.button_link != blank %}
                  <a href="{{ block.settings.button_link }}" class="btn-register">{{ block.settings.button_label }}</a>
                {% endif %}
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
