<section class="custom-kitting-process-section" style="background: {{ section.settings.bg_color | default: 'rgba(240, 238, 238, 0.93)' }};">
  <div class="page-width">
    <div class="custom-kitting-process-header">
      <h2>{{ section.settings.heading }}</h2>
      <p class="para_new">{{ section.settings.subheading }}</p>
    </div>
    <div class="custom-kitting-process-grid">
      {% for block in section.blocks %}
        
        <div class="kitting-item" {{ block.shopify_attributes }}>
           {% if block.settings.step_image != blank %}
              <img src="{{ block.settings.step_image | image_url: width: 100 }}" alt="{{ block.settings.title | escape }}">
            {% else %}
            <div class="kitting-icon">
                {{ block.settings.step_svg }}
            </div>
           {% endif %}
          <h3 class="custom-kitting-heading">{{ block.settings.title }}</h3>
          <div class="custom-kitting-text">
            {{ block.settings.content }}
          </div>

        </div>

      {% endfor %}
    </div>
  </div>
</section>

<style>
    section.custom-kitting-process-section {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    padding: 60px 0;
}

section.custom-kitting-process-section .custom-kitting-process-header {
    text-align: center;
    margin: 0 auto 30px;
    max-width: 800px;
}

section.custom-kitting-process-section .custom-kitting-process-header p.para_new {
    margin: 0 auto;
    color: #01000A;
    text-align: center;
    font-family: Prompt;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px; /* 157.143% */
    max-width: 580px;
}

.custom-kitting-process-grid {display: grid;grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));gap: 30px;text-align: center;}

body.gradient.page\.our-vision-philosophy .custom-kitting-process-grid  {
      grid-template-columns: repeat(auto-fit, minmax(208px, 1fr));
}

.custom-kitting-process-grid .kitting-item {
    width: 100%;
    text-align: center;
    position: relative;
}

.custom-kitting-process-grid .kitting-item:after {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='257' height='8' viewBox='0 0 257 8' fill='none'%3E%3Cpath d='M256.354 4.35355C256.549 4.15829 256.549 3.84171 256.354 3.64645L253.172 0.464466C252.976 0.269204 252.66 0.269204 252.464 0.464466C252.269 0.659728 252.269 0.976311 252.464 1.17157L255.293 4L252.464 6.82843C252.269 7.02369 252.269 7.34027 252.464 7.53553C252.66 7.7308 252.976 7.7308 253.172 7.53553L256.354 4.35355ZM0 4V4.5H1V4V3.5H0V4ZM3 4V4.5H5V4V3.5H3V4ZM7 4V4.5H9V4V3.5H7V4ZM11 4V4.5H13V4V3.5H11V4ZM15 4V4.5H17V4V3.5H15V4ZM19 4V4.5H21V4V3.5H19V4ZM23 4V4.5H25V4V3.5H23V4ZM27 4V4.5H29V4V3.5H27V4ZM31 4V4.5H33V4V3.5H31V4ZM35 4V4.5H37V4V3.5H35V4ZM39 4V4.5H41V4V3.5H39V4ZM43 4V4.5H45V4V3.5H43V4ZM47 4V4.5H49V4V3.5H47V4ZM51 4V4.5H53V4V3.5H51V4ZM55 4V4.5H57V4V3.5H55V4ZM59 4V4.5H61V4V3.5H59V4ZM63 4V4.5H65V4V3.5H63V4ZM67 4V4.5H69V4V3.5H67V4ZM71 4V4.5H73V4V3.5H71V4ZM75 4V4.5H77V4V3.5H75V4ZM79 4V4.5H81V4V3.5H79V4ZM83 4V4.5H85V4V3.5H83V4ZM87 4V4.5H89V4V3.5H87V4ZM91 4V4.5H93V4V3.5H91V4ZM95 4V4.5H97V4V3.5H95V4ZM99 4V4.5H101V4V3.5H99V4ZM103 4V4.5H105V4V3.5H103V4ZM107 4V4.5H109V4V3.5H107V4ZM111 4V4.5H113V4V3.5H111V4ZM115 4V4.5H117V4V3.5H115V4ZM119 4V4.5H121V4V3.5H119V4ZM123 4V4.5H125V4V3.5H123V4ZM127 4V4.5H129V4V3.5H127V4ZM131 4V4.5H133V4V3.5H131V4ZM135 4V4.5H137V4V3.5H135V4ZM139 4V4.5H141V4V3.5H139V4ZM143 4V4.5H145V4V3.5H143V4ZM147 4V4.5H149V4V3.5H147V4ZM151 4V4.5H153V4V3.5H151V4ZM155 4V4.5H157V4V3.5H155V4ZM159 4V4.5H161V4V3.5H159V4ZM163 4V4.5H165V4V3.5H163V4ZM167 4V4.5H169V4V3.5H167V4ZM171 4V4.5H173V4V3.5H171V4ZM175 4V4.5H177V4V3.5H175V4ZM179 4V4.5H181V4V3.5H179V4ZM183 4V4.5H185V4V3.5H183V4ZM187 4V4.5H189V4V3.5H187V4ZM191 4V4.5H193V4V3.5H191V4ZM195 4V4.5H197V4V3.5H195V4ZM199 4V4.5H201V4V3.5H199V4ZM203 4V4.5H205V4V3.5H203V4ZM207 4V4.5H209V4V3.5H207V4ZM211 4V4.5H213V4V3.5H211V4ZM215 4V4.5H217V4V3.5H215V4ZM219 4V4.5H221V4V3.5H219V4ZM223 4V4.5H225V4V3.5H223V4ZM227 4V4.5H229V4V3.5H227V4ZM231 4V4.5H233V4V3.5H231V4ZM235 4V4.5H237V4V3.5H235V4ZM239 4V4.5H241V4V3.5H239V4ZM243 4V4.5H245V4V3.5H243V4ZM247 4V4.5H249V4V3.5H247V4ZM251 4V4.5H253V4V3.5H251V4ZM255 4V4.5H256V4V3.5H255V4Z' fill='%237A7A7A'/%3E%3C/svg%3E");
    background-size: contain;
    max-width: 256px;
    width: 100%;
    position: absolute;
    right: -138px;
    top: 50px;
    height: 8px;
}

body.gradient.page\.our-vision-philosophy .custom-kitting-process-grid .kitting-item:after {
      display: none;
}

.custom-kitting-process-grid .kitting-item:last-of-type:after {
  display: none;
}

.custom-kitting-process-grid .kitting-item .kitting-icon {
    border-radius: 50px;
    border: 1px solid var(--gradient, #42C5EF);
    background: linear-gradient(90deg, #42C5EF 0%, #0033A0 100%);
    min-width: 100px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 30px;
}

.custom-kitting-process-grid .kitting-item .kitting-icon svg {
    width: 39px;
    height: 39px;
}

.custom-kitting-process-grid .kitting-item h3 {
    color: #01000A;
    text-align: center;
    font-family: Prompt;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; /* 137.5% */
    margin: 0 0 15px;
}

body.gradient.page\.sharpening  .custom-kitting-process-header h2 p strong , body.gradient.page\.sharpening .custom-kitting-process-grid .kitting-item h3 p strong{
  font-weight: 300;
}

section.custom-kitting-process-section .custom-kitting-process-header h2 p{
      font-size: 36px;
    line-height: 40px;
    /* text-transform: uppercase; */
    /* margin: 0 0 20px; */
}
.custom-kitting-process-grid .kitting-item .custom-kitting-text p {
    color: #01000A;
    text-align: center;
    font-family: Prompt;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px; /* 157.143% */
}



.custom-kitting-process-grid .kitting-item img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    object-position: center;
    margin-bottom: 10px;
}
body.gradient.page\.our-vision-philosophy .custom-kitting-heading strong{
    font-weight:300 !important; 
}

@media (max-width:1140px) {
  .custom-kitting-process-grid .kitting-item:after {
    display: none;
  }
}


</style>

{% schema %}
  {
    "name": "Kitting Process",
    "tag": "section",
    "class": "custom-kitting-process",
    "max_blocks": 30,
    "settings": [
      {
        "type": "richtext",
        "id": "heading",
        "label": "Heading"
      }, {
        "type": "text",
        "id": "subheading",
        "label": "Subheading"
      }, {
        "type": "color",
        "id": "bg_color",
        "label": "Background color",
        "default": "#f0eeee"
      }
    ],
    "blocks": [
      {
        "type": "step",
        "name": "step",
        "settings": [
            {
          "type": "image_picker",
          "id": "step_image",
          "label": "Step Image"
        },
            {
          "type": "textarea",
          "id": "step_svg",
          "label": "Step SVG Code"
        },
          {
            "type": "richtext",
            "id": "title",
            "label": "Title"
          }, {
            "type": "richtext",
            "id": "content",
            "label": "Content"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Kitting Process"
      }
    ]
  }
{% endschema %}