{{ 'customer.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .field-error {
    color: #F00 ;
    font-size: 14px;
    margin-top: 0.25rem;
    display: none;
  }

  .field-error.active {
    display: block;
        position: absolute;
    bottom: -24px;
  }

  .field input.error {
    border-color: #F00 ;
  }

  .password-field-wrapper {
    position: relative;
  }

  .password-toggle {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    z-index: 2;
  }

  

  .password-toggle svg {
    width: 20px;
    height: 20px;
  }


.field.password-field-wrapper button.password-toggle {
    background: url();
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    justify-content: end;
    min-width: auto;
    right: 16px;
}

.field.password-field-wrapper button.password-toggle svg path {
    fill: #000;
}

.field.password-field-wrapper {
    position: relative;
}
{%- endstyle -%}

{%- if section.settings.enable_shop_login_button == false -%}
  {%- assign hide_shop_login_button = true -%}
{%- endif -%}

<div class="customer login section-{{ section.id }}-padding">
  <h1 id="login" tabindex="-1">
    {% if section.settings.main-title != blank %}
    {{ section.settings.main-title }}
    {% else %}
    {{ 'customer.login_page.title' | t }}
    {% endif %}
  </h1>
  <div class="login-wrap">
    <div class="login-left">
       <h1 id="recover" tabindex="-1">
    {{ 'customer.recover_password.title' | t }}
  </h1>
  <div>
    <p>
      {{ 'customer.recover_password.subtext' | t }}
    </p>

    {%- form 'recover_customer_password', id: 'RecoverPasswordForm' -%}
      {% assign recover_success = form.posted_successfully? %}
      <div class="field">
        <input
          type="email"
          value=""
          name="email"
          id="RecoverEmail"
          autocorrect="off"
          autocapitalize="off"
          autocomplete="email"
          {% if form.errors %}
            aria-invalid="true"
            aria-describedby="RecoverEmail-email-error"
            autofocus
          {% endif %}
          placeholder="{{ 'customer.login_page.email' | t }}"
          required
        >
        <label for="RecoverEmail">
          {{ 'customer.login_page.email' | t }}
        </label>
        <span class="field-error" id="RecoverEmail-error">Please enter a valid email address</span>
      </div>
      {%- if form.errors -%}
        <small id="RecoverEmail-email-error" class="form__message">
          <span class="svg-wrapper">
            {{- 'icon-error.svg' | inline_asset_content -}}
          </span>
          {{ form.errors.messages.form }}
        </small>
      {%- endif -%}

      <button type="submit">
        {{ 'customer.login_page.submit' | t }}
      </button>

      <a href="#login">
        {{ 'customer.login_page.cancel' | t }}
      </a>
    {%- endform -%}
  </div>

  
  <div>
    {%- if recover_success == true -%}
      <h3 class="form__message" tabindex="-1" autofocus>
        <span class="svg-wrapper">
          {{- 'icon-success.svg' | inline_asset_content -}}
        </span>
        {{ 'customer.recover_password.success' | t }}
      </h3>
    {%- endif -%}
    {%- form 'customer_login', novalidate: 'novalidate', id: 'CustomerLoginForm' -%}
      
      {%- if form.errors -%}
        <h2 class="form__message" tabindex="-1" autofocus>
          <span class="visually-hidden">{{ 'accessibility.error' | t }} </span>
          <span class="svg-wrapper">
            {{- 'icon-error.svg' | inline_asset_content -}}
          </span>
          {{ 'templates.contact.form.error_heading' | t }}
        </h2>
        {{ form.errors | default_errors }}
      {%- endif -%}

      {%- if shop.features.login_with_shop_classic_customer_accounts? -%}
        <section name="sign-in-with-shop-provider">
          {{ shop | login_button: hide_button: hide_shop_login_button }}

          {%- unless hide_shop_login_button -%}
            <p>
              {{ 'customer.login_page.alternate_provider_separator' | t }}
            </p>
          {%- endunless -%}
        </section>
      {%- endif -%}
      
      <div class="title-wrap">
        {%- if section.settings.register-text != blank or section.settings.register-content != blank -%}
          {%- if section.settings.register-text != blank -%}
            <h3>{{ section.settings.register-text }}</h3>
          {%- endif -%}
          {{ section.settings.register-content }}
        {%- endif -%}
      </div>

      <div class="field">
        <input
          type="email"
          name="customer[email]"
          id="CustomerEmail"
          autocomplete="email"
          autocorrect="off"
          autocapitalize="off"
          {% if form.errors contains 'form' %}
            aria-invalid="true"
          {% endif %}
          placeholder="{{ 'customer.login_page.email' | t }}"
          required
        >
        <label for="CustomerEmail">
          {{ 'customer.login_page.email' | t }}
        </label>
        <span class="field-error" id="CustomerEmail-error">Please enter a valid email address</span>
      </div>

      {%- if form.password_needed -%}
        <div class="field password-field-wrapper">
          <input
            type="password"
            value=""
            name="customer[password]"
            id="CustomerPassword"
            autocomplete="current-password"
            {% if form.errors contains 'form' %}
              aria-invalid="true"
            {% endif %}
            placeholder="{{ 'customer.login_page.password' | t }}"
            required
            minlength="5"
          >
          <label for="CustomerPassword">
            {{ 'customer.login_page.password' | t }}
          </label>
          <button type="button" class="password-toggle" aria-label="Toggle password visibility" data-password-toggle>
            <svg class="eye-open" fill="#000000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 519.578 519.578" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <path d="M513.095,245.101c0,0-140.683-139.842-253.291-139.842c-112.608,0-253.292,139.842-253.292,139.842 c-8.645,8.109-8.721,21.42,0,29.375c0,0,140.684,139.843,253.292,139.843c112.608,0,253.291-139.843,253.291-139.843 C521.663,266.368,521.816,253.134,513.095,245.101z M260.875,372.397c-61.889,0-112.149-50.185-112.149-112.149 s50.184-112.149,112.149-112.149c61.965,0,112.148,50.26,112.148,112.149S322.763,372.397,260.875,372.397z"></path> <path d="M259.574,187.726c-39.321,0-71.222,32.053-71.222,71.451c0,39.397,31.901,71.451,71.222,71.451 c39.321,0,71.222-32.054,71.222-71.451C330.796,219.78,298.896,187.726,259.574,187.726z M286.426,259.407 c-12.163,0-22.108-9.946-22.108-22.262s9.945-22.261,22.108-22.261s22.108,9.945,22.108,22.261S298.742,259.407,286.426,259.407z"></path> </g> </g> </g></svg>
            <svg class="eye-closed" style="display: none;" version="1.1" id="svg2" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" sodipodi:docname="eye-close.svg" inkscape:version="0.48.4 r9939" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1200 1200" enable-background="new 0 0 1200 1200" xml:space="preserve" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <sodipodi:namedview inkscape:cy="64.037634" inkscape:cx="455.16656" inkscape:zoom="0.26339286" showgrid="false" id="namedview30" guidetolerance="10" gridtolerance="10" objecttolerance="10" borderopacity="1" bordercolor="#666666" pagecolor="#ffffff" inkscape:current-layer="svg2" inkscape:window-maximized="1" inkscape:window-y="24" inkscape:window-height="876" inkscape:window-width="1535" inkscape:pageshadow="2" inkscape:pageopacity="0" inkscape:window-x="65"> </sodipodi:namedview> <path id="path6596" inkscape:connector-curvature="0" sodipodi:nodetypes="cccccccccccccccsscccccccccsccscccssccsc" d=" M669.727,273.516c-22.891-2.476-46.15-3.895-69.727-4.248c-103.025,0.457-209.823,25.517-310.913,73.536 c-75.058,37.122-148.173,89.529-211.67,154.174C46.232,529.978,6.431,577.76,0,628.74c0.76,44.162,48.153,98.67,77.417,131.764 c59.543,62.106,130.754,113.013,211.67,154.174c2.75,1.335,5.51,2.654,8.276,3.955l-75.072,131.102l102.005,60.286l551.416-960.033 l-98.186-60.008L669.727,273.516z M902.563,338.995l-74.927,129.857c34.47,44.782,54.932,100.006,54.932,159.888 c0,149.257-126.522,270.264-282.642,270.264c-6.749,0-13.29-0.728-19.922-1.172l-49.585,85.84c22.868,2.449,45.99,4.233,69.58,4.541 c103.123-0.463,209.861-25.812,310.84-73.535c75.058-37.122,148.246-89.529,211.743-154.174 c31.186-32.999,70.985-80.782,77.417-131.764c-0.76-44.161-48.153-98.669-77.417-131.763 c-59.543-62.106-130.827-113.013-211.743-154.175C908.108,341.478,905.312,340.287,902.563,338.995L902.563,338.995z M599.927,358.478c6.846,0,13.638,0.274,20.361,0.732l-58.081,100.561c-81.514,16.526-142.676,85.88-142.676,168.897 c0,20.854,3.841,40.819,10.913,59.325c0.008,0.021-0.008,0.053,0,0.074l-58.228,100.854 c-34.551-44.823-54.932-100.229-54.932-160.182C317.285,479.484,443.808,358.477,599.927,358.478L599.927,358.478z M768.896,570.513 L638.013,797.271c81.076-16.837,141.797-85.875,141.797-168.603C779.81,608.194,775.724,588.729,768.896,570.513L768.896,570.513z"></path> </g></svg>
            
          </button>
          <span class="field-error" id="CustomerPassword-error">Please enter your password (minimum 5 characters)</span>
        </div>

        <a href="#recover">
          {{ 'customer.login_page.forgot_password' | t }}
        </a>
      {%- endif -%}

      <button class="login-button" type="submit">
        {{ 'customer.login_page.sign_in' | t }}
      </button>

      
    {%- endform -%}
  </div>

  {%- if shop.checkout.guest_login -%}
    <div>
      <hr>
      <h2>{{ 'customer.login_page.guest_title' | t }}</h2>

      {%- form 'guest_login' -%}
        <button type="submit">
          {{ 'customer.login_page.guest_continue' | t }}
        </button>
      {%- endform -%}
    </div>
  {%- endif -%}
    </div>
    <div class="customer-register">
      {% if section.settings.customer-title != blank %}
        <h3>{{ section.settings.customer-title }}</h3>
      {% endif %}
      {% if section.settings.content != blank %}
      <div class="content-text">
        {{ section.settings.content }}
      </div>
      {% endif %}
      <a href="{{ routes.account_register_url }}">
        CREATE AN ACCOUNT
      </a>
    </div>
  </div>
 
</div>

<script>
  // Password Toggle Functionality
  (function() {
    const passwordToggle = document.querySelector('[data-password-toggle]');
    
    if (passwordToggle) {
      passwordToggle.addEventListener('click', function() {
        const passwordInput = document.getElementById('CustomerPassword');
        const eyeOpen = this.querySelector('.eye-open');
        const eyeClosed = this.querySelector('.eye-closed');
        
        if (passwordInput.type === 'password') {
          passwordInput.type = 'text';
          eyeOpen.style.display = 'none';
          eyeClosed.style.display = 'block';
        } else {
          passwordInput.type = 'password';
          eyeOpen.style.display = 'block';
          eyeClosed.style.display = 'none';
        }
      });
    }
  })();

  // Login Form Validation
  (function() {
    const loginForm = document.getElementById('CustomerLoginForm');
    const recoverForm = document.getElementById('RecoverPasswordForm');

    function validateEmail(email) {
      const re = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
      return re.test(email);
    }

    function showError(input, errorMsg) {
      const errorSpan = document.getElementById(input.id + '-error');
      input.classList.add('error');
      if (errorSpan) {
        errorSpan.textContent = errorMsg;
        errorSpan.classList.add('active');
      }
    }

    function clearError(input) {
      const errorSpan = document.getElementById(input.id + '-error');
      input.classList.remove('error');
      if (errorSpan) {
        errorSpan.classList.remove('active');
      }
    }

    function validateForm(form) {
      let isValid = true;
      const emailInput = form.querySelector('input[type="email"]');
      const passwordInput = form.querySelector('input[type="password"]');

      // Validate email
      if (emailInput) {
        clearError(emailInput);
        if (!emailInput.value.trim()) {
          showError(emailInput, 'Email is required');
          isValid = false;
        } else if (!validateEmail(emailInput.value)) {
          showError(emailInput, 'Please enter a valid email address');
          isValid = false;
        }
      }

      // Validate password (only for login form)
      if (passwordInput) {
        clearError(passwordInput);
        if (!passwordInput.value) {
          showError(passwordInput, 'Password is required');
          isValid = false;
        } else if (passwordInput.value.length < 5) {
          showError(passwordInput, 'Password must be at least 5 characters');
          isValid = false;
        }
      }

      return isValid;
    }

    // Add real-time validation
    function addInputValidation(input) {
      input.addEventListener('blur', function() {
        if (this.type === 'email') {
          if (!this.value.trim()) {
            showError(this, 'Email is required');
          } else if (!validateEmail(this.value)) {
            showError(this, 'Please enter a valid email address');
          } else {
            clearError(this);
          }
        } else if (this.type === 'password' || this.type === 'text') {
          // Check both password and text type for password field
          if (this.id === 'CustomerPassword') {
            if (!this.value) {
              showError(this, 'Password is required');
            } else if (this.value.length < 5) {
              showError(this, 'Password must be at least 5 characters');
            } else {
              clearError(this);
            }
          }
        }
      });

      input.addEventListener('input', function() {
        if (this.classList.contains('error')) {
          clearError(this);
        }
      });
    }

    // Login form validation
    if (loginForm) {
      loginForm.addEventListener('submit', function(e) {
        if (!validateForm(this)) {
          e.preventDefault();
        }
      });

      const loginInputs = loginForm.querySelectorAll('input[type="email"], input[type="password"]');
      loginInputs.forEach(addInputValidation);
    }

    // Recover password form validation
    if (recoverForm) {
      recoverForm.addEventListener('submit', function(e) {
        if (!validateForm(this)) {
          e.preventDefault();
        }
      });

      const recoverInputs = recoverForm.querySelectorAll('input[type="email"]');
      recoverInputs.forEach(addInputValidation);
    }
  })();
</script>

{% schema %}
{
  "name": "t:sections.main-login.name",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_shop_login_button",
      "label": "t:sections.main-login.shop_login_button.enable",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
     {
       "type": "text",
      "id": "main-title",
       "label": "Title",
      "default": "Customer Login"
    },
     {
      "type": "header",
      "content": "login Customer"
    },
    {
       "type": "text",
      "id": "register-text",
       "label": "Register Text"
    },
     {
       "type": "richtext",
      "id": "register-content",
       "label": "Register Content"
    },
     {
      "type": "header",
      "content": "New Customer"
    },
     {
       "type": "text",
      "id": "customer-title",
       "label": "Title",
        "default": "New Customer"
    },
    {
       "type": "richtext",
      "id": "content",
       "label": "Content"
    }
  ]
}
{% endschema %}