<section class="resources-cards-wrapper">
  <div class="container">
    {% if section.settings.section_heading %}
      <h2>{{ section.settings.section_heading }}</h2>
    {% endif %}

    <div class="resources-grid">
      {% for block in section.blocks %}
        <div class="resource-cards-col">
          <a
            href="{{ block.settings.link }}"
            class="resource-card {% if block.settings.highlighted %}highlighted{% endif %}"
            {{ block.shopify_attributes }}
          >
            <div class="resource-left">
              {% if block.settings.icon %}
                <img src="{{ block.settings.icon | img_url: '60x60' }}" alt="{{ block.settings.label }}">
              {% endif %}
            </div>
            <div class="resource-label">{{ block.settings.label }}</div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<style>
  .resources-cards-wrapper {
    padding: 60px 20px;
    text-align: center;
  }
  .resources-cards-wrapper h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 40px;
  }
  .resources-cards-wrapper .container {
          max-width: 1280px;
          margin: 0 auto;
      }
  .resources-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    row-gap: 30px;
  }
  .resource-cards-col{
  width: 33.33%;
        padding: 0 15px;
  }
  .resource-card {
    display: flex;
    align-items: center;
    border: 1px solid #eee;
    height: 100%;
    text-decoration: none;
    background-color: #fff;
    color: inherit;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    transition: background-color .3s,box-shadow .3s;
    position: relative;
}
  .resource-card.highlighted {
    background-color: #e8f2fb;
  }
  .resource-card:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #e7f1f7;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
  }
  .resource-left {
  }
  .resource-left img {
    width: 49px;
    height: 49px;
    object-fit: contain;
  }
  .resource-label {
    font-weight: 300;
    color: #000;
  font-size: 22px;
  line-height: 26px;
  text-align: left;
  }
.resource-card:after {
    content: "";
    position: absolute;
    right: 30px;
    width: 28px;
    height: 33px;
    background: url('data:image/svg+xml,<svg fill="%230033a0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M566.6 342.6C579.1 330.1 579.1 309.8 566.6 297.3L406.6 137.3C394.1 124.8 373.8 124.8 361.3 137.3C348.8 149.8 348.8 170.1 361.3 182.6L466.7 288L96 288C78.3 288 64 302.3 64 320C64 337.7 78.3 352 96 352L466.7 352L361.3 457.4C348.8 469.9 348.8 490.2 361.3 502.7C373.8 515.2 394.1 515.2 406.6 502.7L566.6 342.7z"/></svg>') no-repeat;
}
.resource-left img{
    margin-left: -90px;
	float: left;
    margin-right: 10px;
}
</style>

{% schema %}
{
  "name": "Resources Cards",
  "tag": "section",
  "class": "resources-cards",
  "settings": [
    {
      "type": "text",
      "id": "section_heading",
      "label": "Section Heading",
      "default": "RESOURCES"
    }
  ],
  "blocks": [
    {
      "type": "resource",
      "name": "Resource Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon Image"
        },
        {
          "type": "text",
          "id": "label",
          "label": "Label",
          "default": "Resource Title"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "checkbox",
          "id": "highlighted",
          "label": "Highlighted (with background)",
          "default": false
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Resources Cards",
      "category": "Content"
    }
  ]
}
{% endschema %}
